@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Global */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    font: 1.3rem "Nunito", sans-serif;
    background-color: #f9f9f9;
}
a {
    color: var(--primary);
    text-decoration: none;
}
ul {
    list-style: none;
}
article ul {
    list-style: circle;
    list-style-position: inside;
}
img {
    width: 100%;
}
.colored-button{
    background-color: var(--primary);
    color:#fff;
    padding: 5px 10px;
    border-radius: 8px;
}
.focussed-text{
    color:var(--primary);
}