/* Site: Index */
/* Variables */
:root {
    --navbar-height: 110px;
    --placeholder: 70px;
}

/* Utilities */
.card p,
.card ul {
    margin-bottom: 30px;
}

/* Navbar */
#main-nav .container {
    flex-direction: column;
}
#main-nav .logo {
    height: 40px;
    padding: 0;
}
#main-nav .social {
    margin: 5px 0 5px;
}
#main-nav .search {
    display: none;
}


#showcase .showcase-container {
    width: 100%;
}

#showcase .container p {
    margin-bottom: 15px;
    max-height: 45%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#recipes .container {
    padding: 24px;
}
#recipes .grid-container {
    grid-template-columns: 1fr;
}

/* Footer */
#main-footer .grid-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 24px;
}
#main-footer .grid-container > * {
    margin-bottom: 50px;
}
#main-footer .grid-container .footer {
    grid-column: 1;
    margin: 0;
}
#main-footer .grid-container input[type="email"] {
    width: 90%;
}

/* Page: About */
#about .container {
    padding: 0 24px;
}

/* Page: Article */
#article .grid-container {
    grid-template-columns: 1fr;
}
#article .grid-container .card-img {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}
#article .grid-container article {
    grid-column: 1 / span 1;
}
#article .about-me {
    grid-row: 6 / span 1;
    grid-column: 1 / span 1;
}
#article .about-categories {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
}
#article .meta small {
    display: flex;
    flex-direction: column;
}
