/* Site: Index */
/* Variables */
:root {
    --navbar-height: 110px;
    --grid-gap: 50px;
}

/* Navbar */
#main-nav .container {
    flex-direction: column;
}
#main-nav .logo {
    height: 40px;
    padding: 0;
}
#main-nav .social {
    margin: 5px 0 5px;
}

/* Showcase */
#showcase .showcase-container {
    width: 100%;
}
#showcase .container p,
#showcase .container a {
    font-size: 0.8rem;
}
#showcase .container p {
    margin-bottom: 15px;
}

/* Recipes */
#recipes .grid-container {
    grid-template-columns: 1fr;
}
#main-nav .search {
    display: none;
}

/* Footer */
#main-footer .grid-container {
    display: flex;
    flex-direction: column;
}
#main-footer .grid-container .footer {
    grid-column: 1;
}
#main-footer .grid-container input[type="email"] {
    width: 90%;
}
