/* Page: Index */
/* Navbar */
#main-nav {
    z-index: 2;
    position: sticky;
    top: 0;
}
#main-nav .logo img {
    height: 100%;
    width: auto;
    padding: 5px 3px;
}
#main-nav .container {
    z-index: 2;
    display: flex;
    align-items: center;
    height: var(--navbar-height);
    max-width: var(--max-width);
    width: 100%;
    margin: auto;
    padding: 0 20px;
}
#main-nav .container::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
}
#main-nav a:hover {
    color: var(--primary);
    transition: color 0.1s ease-out;
}
#main-nav .logo {
    flex: 6;
    height: inherit;
}
#main-nav .links {
    display: flex;
}
#main-nav .links li {
    padding: 0 15px;
}
#main-nav .links a.current {
    color: var(--primary);
}
#main-nav .social {
    font-size: 10px;
    margin-left: 20px;
}
#main-nav .social a {
    padding: 3px;
}
#main-nav .search {
    margin-left: 20px;
}
#main-nav .search input {
    display: none;
}

/* Showcase */
#showcase {
    z-index: 1;
    position: relative;
    top: calc(var(--navbar-height) * -1);
    /* We want the background to go behind navbar too */
    height: 70vh;
    min-height: 500px;
    width: 100%;
    background: url(../img/featured.jpg) no-repeat center center/cover;
    color: var(--light);
}
#showcase::before {
    z-index: -1;
    content: "";
    background: var(--dark);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
#showcase .container {
    z-index: 1;
    position: relative;
    top: var(--navbar-height);
    height: calc(100% - var(--navbar-height));
}
#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding: 0 30px;
}
#showcase .container h1 {
    color: var(--primary);
    text-shadow: 2px 2px 2px #222;
    margin-bottom: 20px;
}
#showcase .container p {
    background-color: rgba(var(--grey-shadow), 0.4);
    box-shadow: 2px 2px 10px #333;
    padding: 10px;
    margin-bottom: 30px;
}

/* Recipes */
#recipes {
    background-color: var(--light);
    position: relative;
    top: -70px;
    /* Since #showcase starts at minus --navbar-height, we have to adjust the next section too */
}
#recipes .container {
    padding: 30px;
    align-items: center;
}
#recipes .grid-container {
    grid-template-columns: repeat(3, 1fr);
}
#recipes h2 {
    margin-bottom: 10px;
}
#recipes h3,
#recipes a {
    color: var(--dark);
    font-size: 1.5rem;
    margin-bottom: 8px;
    text-shadow: 2px 2px 1px rgba(var(--light-shadow), 0.25);
}
#recipes p {
    margin-left: 1px;
}
#recipes img {
    height: 200px;
    object-fit: cover;
    border: 1px solid var(--grey);
}
#recipes img:hover {
    opacity: 0.7;
    transition: opacity 0.25s ease-out;
}
#recipes .category {
    margin-bottom: 4px;
}

/* Footer */
#main-footer {
    background-color: var(--dark);
    color: var(--light);
}
#main-footer .grid-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
    text-align: center;
}
#main-footer .grid-container .footer {
    background: var(--grey);
    grid-column: 1 / span 3;
    padding: 8px;
    margin-top: 20px;
}
#main-footer .grid-container img {
    height: 60px;
    object-fit: contain;
}
#main-footer .grid-container span a {
    color: var(--primary);
    text-decoration: underline;
}
#main-footer .grid-container h3 {
    margin-bottom: 15px;
}
#main-footer .grid-container input[type="email"] {
    width: 90%;
    padding: 3px;
    margin: 15px 0;
}
#main-footer .grid-container input[type="submit"] {
    width: 50%;
}

/* Grid Template (About, Article) */
#about-page,
#article-page {
    display: flex;
    flex-direction: column;
}
.grid-template {
    flex: 1 0 auto;
}
.grid-template .container {
    padding: 0 32px;
}
.grid-template .grid-container {
    margin: 50px 0;
    grid-template-columns: 4fr 2fr;
}
.grid-template .grid-container aside {
    text-align: center;
}

/* Page: About */
#about .grid-container article {
    grid-row: 1 / span 3;
}
#about .about-me img {
    border-radius: 50%;
    max-height: 200px;
    width: auto;
    display: block;
    margin: auto;
    border: 2px solid var(--dark);
    box-shadow: 1px 1px 10px rgba(var(--grey-shadow), 0.25);
    margin-bottom: 10px;
}

/* Page: Article */
#article .grid-container article {
    grid-row: 2 / span 3;
}
#article .grid-container aside {
    text-align: center;
}
#article .about-categories ul li {
    text-align: left;
}
#article .about-categories ul li a {
    color: var(--dark);
}
#article .about-categories ul li a:hover {
    opacity: 0.5;
    transition: opacity 0.5s ease-out;
}
