@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Mukta:wght@400;700&display=swap");

/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 1rem "Mukta", sans-serif;
    background-color: var(--light);
}
a {
    text-decoration: none;
    color: var(--light);
}
ul {
    list-style: none;
}
img {
    width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Merienda", cursive;
}

/* Navbar */
#main-nav {
    position: sticky;
    top: 0;
    z-index: 2;
}
#main-nav .logo img {
    height: 100%;
    width: auto;
}
#main-nav .container {
    z-index: 0;
    display: flex;
    height: var(--navbar-height);
    width: 100%;
    padding: 0 20px;
    align-items: center;
    max-width: var(--max-width);
    margin: auto;
}
#main-nav .container::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
}
#main-nav .logo {
    flex: 6;
    height: inherit;
}
#main-nav .logo img {
    padding: 5px 3px;
}
#main-nav .links {
    display: flex;
}
#main-nav .links li {
    padding: 0 15px;
}
#main-nav .links a .current {
    color: var(--primary);
}
#main-nav .social {
    font-size: 10px;
    margin-left: 20px;
}
#main-nav .social a {
    padding: 3px;
}
#main-nav .search {
    margin-left: 20px;
}
#main-nav .search input {
    display: none;
}

/* Showcase */
#showcase {
    z-index: -2;
    height: 70vh;
    min-height: 500px;
    width: 100%;
    background: url(../img/featured.jpg) no-repeat center center/cover;
    color: var(--light);
    position: relative;
    top: calc(var(--navbar-height) * -1);
    /* We want the background to go behind navbar too */
}
#showcase::before {
    z-index: -3;
    content: "";
    background: var(--dark);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
#showcase .container {
    z-index: 1;
    overflow: hidden;
    max-width: var(--max-width);
    height: calc(100% - var(--navbar-height));
    position: relative;
    top: var(--navbar-height);
    margin: auto;
}
#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 0 20px;
}
#showcase .container h1 {
    margin: 0 0 20px 0px;
    color: var(--secondary);
    text-shadow: 2px 2px 2px #222;
}
#showcase .container p {
    margin-bottom: 30px;
    padding: 10px;
    background-color: rgba(51, 51, 51, 0.4);
    box-shadow: 2px 2px 10px #333;
}

/* Recipes */
#recipes {
    background-color: var(--light);
    position: relative;
    top: -40px;
    /* Since #showcase starts at minus --navbar-height, we have to adjust the next section too */
}
#recipes .container {
    margin: auto;
    padding: 20px;
    max-width: var(--max-width);
    align-items: center;
}
#recipes .recipes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}
#recipes h2 {
    margin-bottom: 10px;
}
#recipes h3,
#recipes a {
    color: var(--dark);
    font-size: 1.5rem;
    margin-bottom: 5px;
}
#recipes img {
    height: 200px;
    object-fit: cover;
    border: 1px solid var(--grey);
}
#recipes .category {
    margin-bottom: 0.3rem;
}
#recipes p {
    margin-top: 5px;
}
