/* Variables */
:root {
    --dark: #333;
    --grey: #5e5e5e;
    --light: #f3f3f3;
    --primary: #a8bc77;
    --secondary: #bb4f2d;
    --tertiary: #f4f0d0;

    --max-width: 1300px;
    --navbar-height: 70px;
}
.category {
    --breakfast: #f99500;
    --lunch: #a66bbe;
    --beverages: #99284e;
    --appetizers: #df0a98;
    --soups: #28983d;
    --salads: #009cff;
    --desserts: #b699a2;
}

/* Categories */
.category {
    display: inline-block;
    color: var(--light);
    text-transform: uppercase;
    padding: 2px 8px;
    border-radius: 30px;
    margin-bottom: 10px;
    font-size: 0.7rem;
    width: max-content;
    box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.2);
}
.category-breakfast {
    background-color: var(--breakfast);
}
.category-lunch {
    background-color: var(--lunch);
}
.category-beverages {
    background-color: var(--beverages);
}
.category-appetizers {
    background-color: var(--appetizers);
}
.category-soups {
    background-color: var(--soups);
}
.category-salads {
    background-color: var(--salads);
}
.category-desserts {
    background-color: var(--desserts);
}

/* Button links */
.btn {
    background-color: var(--primary);
    color: var(--dark);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 30px;
    width: max-content;
}

/* Article Cards */
.card {
    padding: 16px;
    background: #f5f5f5;
    box-shadow: 2px 2px 10px rgba(153, 153, 153, 0.6);
}

/* Lists */
.list li {
    padding: 8px 0;
    border-bottom: var(--grey) dotted 1px;
    width: 100%;
}
.list li a:hover {
}
