/* Variables */
:root {
    --dark: #333;
    --grey: #5e5e5e;
    --light: #f3f3f3;
    --primary: #a8bc77;
    --secondary: #bb4f2d;
    --tertiary: #f4f0d0;
    --light-shadow: 153, 153, 153; /* for use in rgba(light-shadow, opacity) */
    --grey-shadow: 51, 51, 51;
    --max-width: 1300px;
    --navbar-height: 70px;
    --grid-gap: 24px;
}
.category {
    --breakfast: #f99500;
    --lunch: #a66bbe;
    --beverages: #99284e;
    --appetizers: #df0a98;
    --soups: #28983d;
    --salads: #009cff;
    --desserts: #b699a2;
}

/* Categories */
.category {
    display: inline-block;
    color: var(--light);
    text-transform: uppercase;
    padding: 2px 8px;
    border-radius: 30px;
    margin-bottom: 10px;
    font-size: 0.7rem;
    width: max-content;
    box-shadow: 2px 2px 3px rgba(var(--grey-shadow), 0.2);
}
.category-breakfast {
    background-color: var(--breakfast);
}
.category-lunch {
    background-color: var(--lunch);
}
.category-beverages {
    background-color: var(--beverages);
}
.category-appetizers {
    background-color: var(--appetizers);
}
.category-soups {
    background-color: var(--soups);
}
.category-salads {
    background-color: var(--salads);
}
.category-desserts {
    background-color: var(--desserts);
}

/* Backgrounds */
.bg-primary {
    background-color: var(--primary) !important;
}
.bg-secondary {
    background-color: var(--secondary) !important;
}
.bg-tertiary {
    background-color: var(--tertiary) !important;
}

/* Containers */
/* Outer container */
.container {
    margin: auto;
    overflow: hidden;
    max-width: var(--max-width);
}
/* Inner container */
.grid-container {
    display: grid;
    gap: var(--grid-gap);
    max-width: var(--max-width);
    margin: auto;
}

/* Button links */
.btn {
    background-color: var(--primary);
    color: var(--dark);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 30px;
    width: max-content;
    box-shadow: 2px 2px 5px rgba(var(--dark-shadow), 0.25);
    cursor: pointer;
}
.btn:hover {
    opacity: 0.8;
    transition: opacity 0.1s ease-out;
}

/* Article Cards */
.card {
    padding: 16px;
    background: #f5f5f5;
    box-shadow: 2px 2px 10px rgba(var(--light-shadow), 0.6);
}
.card h1,
.card h2 {
    margin-bottom: 10px;
    text-shadow: 2px 2px 1px rgba(var(--light-shadow), 0.25);
}
.card h1 {
    font-size: 2rem;
}
.card h2 {
    font-size: 1.5rem;
}
.card p {
    margin-bottom: 10px;
}

/* Lists */
.list li {
    padding: 8px 0;
    border-bottom: var(--grey) dotted 1px;
    width: 100%;
}
.list li a:hover {
    color: var(--primary);
    transition: color 0.2s ease-out;
}
